include *.rst
include *.md
include *.in
include LICENSE
include groupmne/__init__.py

recursive-include examples *.py
recursive-include examples *.txt

recursive-include groupmne *.py
recursive-include groupmne *.pyx
recursive-include groupmne *.pxd

### Exclude

exclude Makefile
exclude .coveragerc
exclude *.yml
exclude .mailmap
recursive-exclude groupmne *.pyc

recursive-exclude docsrc *.bat
recursive-exclude docsrc *.py
recursive-exclude docs *.py
recursive-exclude docsrc *.rst
recursive-exclude docs *.nojekyll
recursive-exclude docs *.png
recursive-exclude docs *.svg
recursive-exclude docs *.css
recursive-exclude docs *.js
recursive-exclude docs *.html
