include *.rst
include *.md
include *.in
include LICENSE
include groupmne/__init__.py

recursive-include examples *.py
recursive-include examples *.txt

recursive-include groupmne *.py
recursive-include groupmne *.pyx
recursive-include groupmne *.pxd

### Exclude

exclude Makefile
exclude .coveragerc
exclude *.yml
exclude .mailmap
recursive-exclude groupmne *.pyc

recursive-include docsrc *.bat
recursive-include docsrc *.py
recursive-include docs *.py
recursive-include docsrc *.rst
recursive-include docs *.nojekyll
recursive-include docs *.png
recursive-include docs *.svg
recursive-include docs *.css
recursive-include docs *.js
recursive-include docs *.html
